{{ define "main" }}

{{/*  {{ $pages := (where (where (where .Site.RegularPages "Params.hero" "!=" nil) "Section" "blog") "Params.categories" "in" (slice "devops")) }}  */}}
{{ $pages := (where (where .Site.RegularPages "Section" "blog") "Params.hero" "!=" nil) }}
{{ $data := newScratch }}

{{ $title := .Params.title }}

{{ range $pages }}
{{ if eq (index .Params.categories 0) $title }}

{{ $data.Add "pages" .Params.title }}

{{ end }}
{{ end }}

{{ $paginator := .Paginate (where (where .Site.RegularPages "Section" "blog") "Params.title" "in" ($data.Get "pages")) }}

<div class="container mx-auto font-sans">

    <div class="my-4 text-center">
        <h1 class="text-3xl tablet:text-3xl font-bold">{{ .Title }}</h1>
        <p class="text-base font-bold mt-2">{{ .Site.Params.description }}</p>
    </div>
    <div class="flex my-4">
        <h2 class="font-bold">Recent Posts:</h2>
    </div>
    <div class="tablet:flex tablet:flex-wrap tablet:items-stretch tablet:justify-between">
        {{ range $paginator.Pages }}
        {{- partial "blog-post-card.html" (dict "Page" . "Site" .Site) -}}

        {{ end }}
    </div>
    <div class="my-8">
    {{ partial "pagination.html" . }}
    </div>


</div>

{{ end }}