@tailwind base;
@tailwind components;
@tailwind utilities;

pre[class*="language-"] {
    padding-bottom: 0px;
    padding-top: 0px;
    border: none;
}

.post a:hover {
    color: rgb(70, 127, 247);
    outline-color: rgb(70, 127, 247);
    text-decoration-color: rgb(70, 127, 247);
    text-transform: capitalize;
}

.post-content * {
    font-family: "Roboto",Sans-serif;
    margin-bottom: 17px;
    text-rendering: optimizeLegibility;
    text-transform: none;
}

.post-content h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
}

.post-content h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
}

.post-content p, .post-content ul>li {
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
    color: rgb(49,49,49);
    outline-color: rgb(49,49,49);
}

.post-content ul {
    list-style-type: disc;
    padding-left: 36px;
}

.post-content ol {
    list-style-type: decimal;
    padding-left: 36px;
}
