{{ $image := resources.Get .image_path }}


{{ $small_dims := "x480 webp" }}
{{ $med_dims := "x768 webp" }}
{{ $large_dims := "x976 webp" }}

{{ $small_image := $image.Resize $small_dims }}
{{ $med_image := $image.Resize $med_dims }}
{{ $large_image := $image.Resize $large_dims }}

<picture class="object-center">
    <source media="(max-width: 480px)" srcset="{{ $small_image.RelPermalink }}" />
    <source media="(min-width: 768px)" srcset="{{ $med_image.RelPermalink }}" />
    <source media="(min-width: 976px)" srcset="{{ $large_image.RelPermalink }}" />
    <img src="{{ $large_image.RelPermalink }}" alt="{{ .alt_text }}" width="{{ $large_image.Width }}" height="{{ $large_image.Height }}"  />
</picture>