{{ define "main" }}
{{ $image := resources.Get .Params.hero.path }}
{{ $dims := print .Params.hero.width "x" .Params.hero.height " webp" }}
{{ $image := $image.Crop $dims }}

<div class="container mx-auto post">

  <div class="my-4 text-center">
    <h1 class="text-2xl font-bold">{{ .Title }}</h1>
  </div>

  <div class="my-4">
    <img class="object-center" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}"
      height="{{ $image.Height }}" />
  </div>

  <div class="text-center font-bold tablet:text-left">
    {{ .Params.date.Format "January 2, 2006" }} | {{ .Params.Author }}
  </div>

  <div id="table_of_contents"></div>


  <div class="post-content">
    {{ .Content }}
  </div>

  <div class="flex flex-wrap justify-between mt-12 mb-8">
    {{- partial "blog-post-share-buttons.html" (dict "Page" . ) -}}
  </div>

  <div class="flex justify-between border-t-2 border-b-2 pt-4 pb-4">
    {{ with .PrevInSection }}
    <div>
      <button type="button"  onclick="(function(href){location.href=href;})('{{ .RelPermalink | safeJS }}')" class="flex items-center">
        <svg class="w-10 h-10" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m12.017 1.995c5.517 0 9.997 4.48 9.997 9.998s-4.48 9.998-9.997 9.998c-5.518 0-9.998-4.48-9.998-9.998s4.48-9.998 9.998-9.998zm0 1.5c-4.69 0-8.498 3.808-8.498 8.498s3.808 8.498 8.498 8.498 8.497-3.808 8.497-8.498-3.807-8.498-8.497-8.498zm-1.528 4.715s-1.502 1.505-3.255 3.259c-.147.147-.22.339-.22.531s.073.383.22.53c1.753 1.754 3.254 3.258 3.254 3.258.145.145.335.217.526.217.192-.001.384-.074.531-.221.292-.293.294-.766.003-1.057l-1.977-1.977h6.693c.414 0 .75-.336.75-.75s-.336-.75-.75-.75h-6.693l1.978-1.979c.29-.289.287-.762-.006-1.054-.147-.147-.339-.221-.53-.222-.19 0-.38.071-.524.215z"
            fill-rule="nonzero" />
        </svg>
        <span class="mt-2 ml-2">Previous</span>
      </button>
    </div>
    {{ else }}
    <div></div>
    {{ end }}
    {{ with .NextInSection }}
    <div>
      <button onclick="(function(href){location.href=href;})('{{ .RelPermalink | safeJS }}')" type="button" class="flex items-center">
        <span class="mt-2 mr-2">Next</span>
        <svg class="w-10 h-10" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="m12.012 1.995c-5.518 0-9.998 4.48-9.998 9.998s4.48 9.998 9.998 9.998 9.997-4.48 9.997-9.998-4.479-9.998-9.997-9.998zm0 1.5c4.69 0 8.497 3.808 8.497 8.498s-3.807 8.498-8.497 8.498-8.498-3.808-8.498-8.498 3.808-8.498 8.498-8.498zm1.528 4.715s1.502 1.505 3.255 3.259c.146.147.219.339.219.531s-.073.383-.219.53c-1.753 1.754-3.254 3.258-3.254 3.258-.145.145-.336.217-.527.217-.191-.001-.383-.074-.53-.221-.293-.293-.295-.766-.004-1.057l1.978-1.977h-6.694c-.414 0-.75-.336-.75-.75s.336-.75.75-.75h6.694l-1.979-1.979c-.289-.289-.286-.762.006-1.054.147-.147.339-.221.531-.222.19 0 .38.071.524.215z"
            fill-rule="nonzero" />
        </svg>
      </button>
    </div>
    {{ end }}
  </div>

  <div class="mt-8 mb-4">
    <h4 class="text-xl font-bold">Related Content:</h2>
  </div>
  <div class="tablet:flex tablet:flex-wrap tablet:items-stretch tablet:justify-between">
    {{ range first 3 (shuffle (where (where .Site.RegularPages "Section" "blog") "Title" "!=" .Title )) }}
    {{- partial "blog-post-card.html" (dict "Page" . ) -}}
    {{ end }}
  </div>
</div>
{{ end }}